# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Flutter generated docs
doc/api/

# iOS
ios/Flutter/.last_build_id

# Android build outputs
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Firebase / Environment files
google-services.json
GoogleService-Info.plist
.env

# Flutter ephemeral folders
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# AGENTS
AGENTS.md
knowledge.md
.agents